<%- include("partials/header") -%>

<h1 class="desktop-h1 mobile-small-h1 mobile-large-h1">Black History Facts Generator</h1>

<p class="desktop-subtitle mobile-small-subtitle mobile-large-subtitle">This website automatically refreshes every 10 seconds.</p>
</div>

<div class="desktop-facts mobile-small-facts mobile-large-facts">
  <h2 class="desktop-h2 mobile-small-h2 mobile-large-h2"><%= randomFact %></h2>
</div>

<%- include("partials/footer") -%>
