body {
  background-color: #008080;
  color: #FFF;
}

a {
  color: #FFD700;
}

a:hover {
  text-decoration: none;
  color: #98FB98;
}

.desktop-h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  margin-top: 75px;
}

.desktop-subtitle {
  font-size: 14px;
}

.desktop-h2 {
  font-family: 'Playfair Display', serif;
  font-size: 56px;
  padding: 10px;
}

.intro {
  margin: auto;
  display: block;
  text-align: center;
}

.desktop-facts {
  margin-top: 100px;
  border: 6px solid #FFF;
  padding: 4px;
}

.desktop-social-media {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .mobile-small-h1 {
    font-size: 20px;
    margin-top: 10px;
  }

  .mobile-small-subtitle {
    font-size: 10px;
  }

  .mobile-small-h2 {
    font-size: 20px;
    padding: 2px;
  }

  .mobile-small-facts {
    margin-top: 10px;
    border: 2px solid #FFF;
  }

  .mobile-small-social-media {
    position: relative;
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .mobile-small-h1 {
    font-size: 30px;
    margin-top: 10px;
  }

  .mobile-small-subtitle {
    font-size: 12px;
  }

  .mobile-small-h2 {
    font-size: 30px;
    padding: 2px;
  }

  .mobile-small-facts {
    margin-top: 20px;
    border: 4px solid #FFF;
  }

  .mobile-small-social-media {
    position: relative;
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  .mobile-large-h1 {
    margin-top: 10px;
  }

  .mobile-large-h2 {
    padding: 2px;
  }

  .mobile-large-facts {
    margin-top: 20px;
    border: 4px solid #FFF;
  }
}
